@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

.btn-custom { 
    color: #ffffff; 
    background-color: #4BB4D2; 
    border-color: #4BB4D2; 
} 

.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
    color: #ffffff; 
    background-color: #4BB4D2; 
    border-color: #4BB4D2; 
} 

.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
    background-image: none; 
} 

.btn-custom.disabled, 
.btn-custom[disabled], 
fieldset[disabled] .btn-custom, 
.btn-custom.disabled:hover, 
.btn-custom[disabled]:hover, 
fieldset[disabled] .btn-custom:hover, 
.btn-custom.disabled:focus, 
.btn-custom[disabled]:focus, 
fieldset[disabled] .btn-custom:focus, 
.btn-custom.disabled:active, 
.btn-custom[disabled]:active, 
fieldset[disabled] .btn-custom:active, 
.btn-custom.disabled.active, 
.btn-custom[disabled].active, 
fieldset[disabled] .btn-custom.active { 
    background-color: #4BB4D2; 
    border-color: #4BB4D2; 
} 

.btn-custom .badge { 
    color: #4BB4D2; 
    background-color: #ffffff; 
}